version: '3'
services:
  tomcat:
    image: ${TOMCAT_CONTAINER}:${TAG}
    build: .
    container_name: ${TOMCAT_CONTAINER}
    restart: always
    links:
      - elasticsearch
    ports:
      - "8443:8443"
    volumes:
      - ./server.xml:/usr/local/tomcat/conf/server.xml
      - ./webapps:/usr/local/tomcat/webapps
      - ./logs:/usr/local/tomcat/logs
    environment:
      - instance_purpose=production
      # - entity_ds_db_conf=mysql8
      #- entity_ds_host=moqui-database
      # - entity_ds_port=3306
      # - entity_ds_database=moqui
      # NOTE: using root user because for TX recovery MySQL requires the 'XA_RECOVER_ADMIN' and in version 8 that must be granted explicitly
      # - entity_ds_user=root
      # - entity_ds_password=moquiroot
      # - entity_ds_crypt_pass='MoquiDefaultPassword:CHANGEME'
      # moqui will accept traffic from other hosts but these are the values used for URL writing when specified:
      # - VIRTUAL_HOST=moqui
      - webapp_http_host=moqui-demo.oliver-kroener.de
      - webapp_allow_origins=moqui-demo.oliver-kroener.de # allow origin and avoid 401 error
      - webapp_http_port=80
      - webapp_https_port=443
      - webapp_https_enabled=true
      - default_locale=de_DE
      - default_time_zone=DE/Europe
      - elasticsearch_url=http://elasticsearch:9200
    networks:
      - backend
  
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2
    container_name: ${ES_CONTAINER}
    restart: always
    volumes:
      - ./elasticsearch/data:/opt/elasticsearch/data
    environment:
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
      - discovery.type=single-node
      - network.host=_site_
    networks:
      - backend
networks:
  backend:
